* {
    margin: 0;
    font-family: Segoe UI, Tahoma, SansSerif;
}

.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #536DFE; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

#header {
    width: 100%;
    position: fixed;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
}

#header-placeholder {
    position: relative;
    box-shadow: 0;
}

.text-container {
    padding: 2px;
}

.card {
    width: 200px;
    margin: 5px;
    padding: 5px;
    background: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
}

input {
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
}

.content_container {
    display: inline-block;
    float: left;
}

.left_panel {
    height: 89vh;
    width: 300px;
    display: inline-block;
    float: left;
    border-right: solid #B6B6B6;
}

.messages_container {
    height: 82vh;
    overflow-y: scroll;
}